<h1>Home#index</h1>
<h1>Listing articles</h1>
 
<table>
    <tr>
        <th>Title</th>
        <th>By</th>
        <th>Descendants</th>
        <th>ID</th>
        <th>Score</th>
        <th>Time</th>
        <th>Type</th>
    </tr>

  <% @items.each do |item| %>
    <tr>
        <td><%= item["title"] %></td>
        <td><%= item["by"] %></td>
        <td><%= item["descendants"] %></td>
        <td><%= item["id"] %></td>
        <td><%= item["score"] %></td>
        <td><%= parseTime(item["time"]) %></td>
        <td><%= item["type"] %></td>
    </tr>
  <% end %>
</table>