<h1>HackerNews</h1>
<div class="topbar">
<a href="/"><p>Today</p></a>
<a href="/best"><p>Best</p></a>
<a href="/new"><p>New</p></a>
</div>

<% @items.each do |item| %>
<a href="<%= item['url'] %>">
<div class="container">
    <div class="color"> <%= item["score"] %> </div>    
    <div class="card">
        <div class="top">
            <%= item["title"] %>
            <div class="right"><%= item["by"] %></div>
        </div>
        <div class="bottom">
            <p>comments:</p>
            <%= item["descendants"] %>

        </div>
    </div>
</div>
</a>
<% end %>